<h1>About Me</h1>
<div class="content">
    <section class="mirror-block">
        <h2>>whoami</h2>
        <p>my name is roz, you can use discord to contact me: lexaprodoesntwork</p>
    </section>
</div> 