<div class="container">
    <h1>hi</h1>
    <div class="bookshelf">
        <div class="book" onclick="window.location.href='/about'">
            <img src="/images/star.png" alt="Star" class="card-img" />
            <div class="card-title">About Me</div>
        </div>
        <div class="book" onclick="window.location.href='/hobbies'">
            <img src="/images/hierophant.png" alt="Hierophant" class="card-img" />
            <div class="card-title">Hobbies</div>
        </div>
        <div class="book" onclick="window.location.href='/knowledge'">
            <img src="/images/magician.png" alt="Magician" class="card-img" />
            <div class="card-title">Knowledge</div>
        </div>
        <div class="book" onclick="window.location.href='/misc'">
            <img src="/images/chariot.png" alt="Chariot" class="card-img" />
            <div class="card-title">Misc</div>
        </div>
        <div class="book" onclick="window.location.href='/projects'">
            <img src="/images/hermit.png" alt="Hermit" class="card-img" />
            <div class="card-title">Projects</div>
        </div>
        <div class="book" onclick="window.location.href='/gallery'">
            <img src="/images/fool.png" alt="Fool" class="card-img" />
            <div class="card-title">Gallery</div>
        </div>
    </div>
</div> 